
Data/FullData/RawData/2015_part1/1 Алтайский край 1-12.2015.json
Data/FullData/RawData/2015_part1/10 Амурская область 1-12.2015.json
Data/FullData/RawData/2015_part1/10011 Ненецкий АО 1-12.2015.json
Data/FullData/RawData/2015_part1/11 Архангельская область 1-12.2015.json
Data/FullData/RawData/2015_part1/12 Астраханская область 1-12.2015.json
Data/FullData/RawData/2015_part1/14 Белгородская область 1-12.2015.json
Data/FullData/RawData/2015_part1/15 Брянская область 1-12.2015.json
Data/FullData/RawData/2015_part1/17 Владимирская область 1-12.2015.json
Data/FullData/RawData/2015_part1/18 Волгоградская область 1-12.2015.json
Data/FullData/RawData/2015_part1/19 Вологодская область 1-12.2015.json
Data/FullData/RawData/2015_part1/20 Воронежская область 1-12.2015.json
Data/FullData/RawData/2015_part1/22 Нижегородская область 1-12.2015.json
Data/FullData/RawData/2015_part1/24 Ивановская область 1-12.2015.json
Data/FullData/RawData/2015_part1/25 Иркутская область 1-12.2015.json
Data/FullData/RawData/2015_part1/26 Республика Ингушетия 1-12.2015.json
Data/FullData/RawData/2015_part1/27 Калининградская область 1-12.2015.json
Data/FullData/RawData/2015_part1/28 Тверская область 1-12.2015.json
Data/FullData/RawData/2015_part1/29 Калужская область 1-12.2015.json
Data/FullData/RawData/2015_part1/3 Краснодарский край 1-12.2015.json
Data/FullData/RawData/2015_part1/30 Камчатский край 1-12.2015.json
Data/FullData/RawData/2015_part1/32 Кемеровская область 1-12.2015.json
Data/FullData/RawData/2015_part1/33 Кировская область 1-12.2015.json
Data/FullData/RawData/2015_part1/34 Костромская область 1-12.2015.json
Data/FullData/RawData/2015_part1/35 Республика Крым 1-12.2015.json
Data/FullData/RawData/2015_part1/36 Самарская область 1-12.2015.json
Data/FullData/RawData/2015_part1/37 Курганская область 1-12.2015.json
Data/FullData/RawData/2015_part1/38 Курская область 1-12.2015.json
Data/FullData/RawData/2015_part1/4 Красноярский край 1-12.2015.json
Data/FullData/RawData/2015_part1/40 г. Санкт-Петербург 1-12.2015.json
Data/FullData/RawData/2015_part1/41 Ленинградская область 1-12.2015.json
Data/FullData/RawData/2015_part1/42 Липецкая область 1-12.2015.json
Data/FullData/RawData/2015_part1/44 Магаданская область 1-12.2015.json
Data/FullData/RawData/2015_part1/45 г. Москва 1-12.2015.json
Data/FullData/RawData/2015_part1/46 Московская область 1-12.2015.json
Data/FullData/RawData/2015_part1/47 Мурманская область 1-12.2015.json
Data/FullData/RawData/2015_part1/49 Новгородская область 1-12.2015.json
Data/FullData/RawData/2015_part1/5 Приморский край 1-12.2015.json
Data/FullData/RawData/2015_part1/50 Новосибирская область 1-12.2015.json
Data/FullData/RawData/2015_part2/52 Омская область 1-12.2015.json
Data/FullData/RawData/2015_part2/53 Оренбургская область 1-12.2015.json
Data/FullData/RawData/2015_part2/54 Орловская область 1-12.2015.json
Data/FullData/RawData/2015_part2/56 Пензенская область 1-12.2015.json
Data/FullData/RawData/2015_part2/57 Пермский край 1-12.2015.json
Data/FullData/RawData/2015_part2/58 Псковская область 1-12.2015.json
Data/FullData/RawData/2015_part2/60 Ростовская область 1-12.2015.json
Data/FullData/RawData/2015_part2/61 Рязанская область 1-12.2015.json
Data/FullData/RawData/2015_part2/63 Саратовская область 1-12.2015.json
Data/FullData/RawData/2015_part2/64 Сахалинская область 1-12.2015.json
Data/FullData/RawData/2015_part2/65 Свердловская область 1-12.2015.json
Data/FullData/RawData/2015_part2/66 Смоленская область 1-12.2015.json
Data/FullData/RawData/2015_part2/67 г. Севастополь 1-12.2015.json
Data/FullData/RawData/2015_part2/68 Тамбовская область 1-12.2015.json
Data/FullData/RawData/2015_part2/69 Томская область 1-12.2015.json
Data/FullData/RawData/2015_part2/7 Ставропольский край 1-12.2015.json
Data/FullData/RawData/2015_part2/70 Тульская область 1-12.2015.json
Data/FullData/RawData/2015_part2/71 Тюменская область 1-12.2015.json
Data/FullData/RawData/2015_part2/71100 Ханты-Мансийский АО 1-12.2015.json
Data/FullData/RawData/2015_part2/71140 Ямало-Ненецкий АО 1-12.2015.json
Data/FullData/RawData/2015_part2/73 Ульяновская область 1-12.2015.json
Data/FullData/RawData/2015_part2/75 Челябинская область 1-12.2015.json
Data/FullData/RawData/2015_part2/76 Забайкальский край 1-12.2015.json
Data/FullData/RawData/2015_part2/77 Чукотский автономный округ 1-12.2015.json
Data/FullData/RawData/2015_part2/78 Ярославская область 1-12.2015.json
Data/FullData/RawData/2015_part2/79 Республика Адыгея 1-12.2015.json
Data/FullData/RawData/2015_part2/8 Хабаровский край 1-12.2015.json
Data/FullData/RawData/2015_part2/80 Республика Башкортостан 1-12.2015.json
Data/FullData/RawData/2015_part2/81 Республика Бурятия 1-12.2015.json
Data/FullData/RawData/2015_part2/82 Республика Дагестан 1-12.2015.json
Data/FullData/RawData/2015_part2/83 Кабардино-Балкарская Республика 1-12.2015.json
Data/FullData/RawData/2015_part2/84 Республика Алтай 1-12.2015.json
Data/FullData/RawData/2015_part2/85 Республика Калмыкия 1-12.2015.json
Data/FullData/RawData/2015_part2/86 Республика Карелия 1-12.2015.json
Data/FullData/RawData/2015_part2/87 Республика Коми 1-12.2015.json
Data/FullData/RawData/2015_part2/88 Республика Марий Эл 1-12.2015.json
Data/FullData/RawData/2015_part2/89 Республика Мордовия 1-12.2015.json
Data/FullData/RawData/2015_part2/90 Республика Северная Осетия - Алания 1-12.2015.json
Data/FullData/RawData/2015_part2/91 Карачаево-Черкесская Республика 1-12.2015.json
Data/FullData/RawData/2015_part2/92 Республика Татарстан 1-12.2015.json
Data/FullData/RawData/2015_part2/93 Республика Тыва 1-12.2015.json
Data/FullData/RawData/2015_part2/94 Удмуртская Республика 1-12.2015.json
Data/FullData/RawData/2015_part2/95 Республика Хакасия 1-12.2015.json
Data/FullData/RawData/2015_part2/96 Чеченская Республика 1-12.2015.json
Data/FullData/RawData/2015_part2/97 Чувашская Республика 1-12.2015.json
Data/FullData/RawData/2015_part2/98 Республика Саха (Якутия) 1-12.2015.json
Data/FullData/RawData/2015_part2/99 Еврейская автономная область 1-12.2015.json
Data/FullData/RawData/2015_part2/parselog.log
Data/FullData/RawData/2016_part1/1 Алтайский край 1-12.2016.json
Data/FullData/RawData/2016_part1/10 Амурская область 1-12.2016.json
Data/FullData/RawData/2016_part1/10011 Ненецкий АО 1-12.2016.json
Data/FullData/RawData/2016_part1/11 Архангельская область 1-12.2016.json
Data/FullData/RawData/2016_part1/12 Астраханская область 1-12.2016.json
Data/FullData/RawData/2016_part1/14 Белгородская область 1-12.2016.json
Data/FullData/RawData/2016_part1/15 Брянская область 1-12.2016.json
Data/FullData/RawData/2016_part1/17 Владимирская область 1-12.2016.json
Data/FullData/RawData/2016_part1/18 Волгоградская область 1-12.2016.json
Data/FullData/RawData/2016_part1/19 Вологодская область 1-12.2016.json
Data/FullData/RawData/2016_part1/20 Воронежская область 1-12.2016.json
Data/FullData/RawData/2016_part1/22 Нижегородская область 1-12.2016.json
Data/FullData/RawData/2016_part1/24 Ивановская область 1-12.2016.json
Data/FullData/RawData/2016_part1/25 Иркутская область 1-12.2016.json
Data/FullData/RawData/2016_part1/26 Республика Ингушетия 1-12.2016.json
Data/FullData/RawData/2016_part1/27 Калининградская область 1-12.2016.json
Data/FullData/RawData/2016_part1/28 Тверская область 1-12.2016.json
Data/FullData/RawData/2016_part1/29 Калужская область 1-12.2016.json
Data/FullData/RawData/2016_part1/3 Краснодарский край 1-12.2016.json
Data/FullData/RawData/2016_part1/30 Камчатский край 1-12.2016.json
Data/FullData/RawData/2016_part1/32 Кемеровская область 1-12.2016.json
Data/FullData/RawData/2016_part1/33 Кировская область 1-12.2016.json
Data/FullData/RawData/2016_part1/34 Костромская область 1-12.2016.json
Data/FullData/RawData/2016_part1/35 Республика Крым 1-12.2016.json
Data/FullData/RawData/2016_part1/36 Самарская область 1-12.2016.json
Data/FullData/RawData/2016_part1/37 Курганская область 1-12.2016.json
Data/FullData/RawData/2016_part1/38 Курская область 1-12.2016.json
Data/FullData/RawData/2016_part1/4 Красноярский край 1-12.2016.json
Data/FullData/RawData/2016_part1/40 г. Санкт-Петербург 1-12.2016.json
Data/FullData/RawData/2016_part1/41 Ленинградская область 1-12.2016.json
Data/FullData/RawData/2016_part1/42 Липецкая область 1-12.2016.json
Data/FullData/RawData/2016_part1/44 Магаданская область 1-12.2016.json
Data/FullData/RawData/2016_part1/45 г. Москва 1-12.2016.json
Data/FullData/RawData/2016_part1/46 Московская область 1-12.2016.json
Data/FullData/RawData/2016_part1/47 Мурманская область 1-12.2016.json
Data/FullData/RawData/2016_part1/49 Новгородская область 1-12.2016.json
Data/FullData/RawData/2016_part1/5 Приморский край 1-12.2016.json
Data/FullData/RawData/2016_part1/50 Новосибирская область 1-12.2016.json
Data/FullData/RawData/2016_part2/52 Омская область 1-12.2016.json
Data/FullData/RawData/2016_part2/53 Оренбургская область 1-12.2016.json
Data/FullData/RawData/2016_part2/54 Орловская область 1-12.2016.json
Data/FullData/RawData/2016_part2/56 Пензенская область 1-12.2016.json
Data/FullData/RawData/2016_part2/57 Пермский край 1-12.2016.json
Data/FullData/RawData/2016_part2/58 Псковская область 1-12.2016.json
Data/FullData/RawData/2016_part2/60 Ростовская область 1-12.2016.json
Data/FullData/RawData/2016_part2/61 Рязанская область 1-12.2016.json
Data/FullData/RawData/2016_part2/63 Саратовская область 1-12.2016.json
Data/FullData/RawData/2016_part2/64 Сахалинская область 1-12.2016.json
Data/FullData/RawData/2016_part2/65 Свердловская область 1-12.2016.json
Data/FullData/RawData/2016_part2/66 Смоленская область 1-12.2016.json
Data/FullData/RawData/2016_part2/67 г. Севастополь 1-12.2016.json
Data/FullData/RawData/2016_part2/68 Тамбовская область 1-12.2016.json
Data/FullData/RawData/2016_part2/69 Томская область 1-12.2016.json
Data/FullData/RawData/2016_part2/7 Ставропольский край 1-12.2016.json
Data/FullData/RawData/2016_part2/70 Тульская область 1-12.2016.json
Data/FullData/RawData/2016_part2/71 Тюменская область 1-12.2016.json
Data/FullData/RawData/2016_part2/71100 Ханты-Мансийский АО 1-12.2016.json
Data/FullData/RawData/2016_part2/71140 Ямало-Ненецкий АО 1-12.2016.json
Data/FullData/RawData/2016_part2/73 Ульяновская область 1-12.2016.json
Data/FullData/RawData/2016_part2/75 Челябинская область 1-12.2016.json
Data/FullData/RawData/2016_part2/76 Забайкальский край 1-12.2016.json
Data/FullData/RawData/2016_part2/77 Чукотский автономный округ 1-12.2016.json
Data/FullData/RawData/2016_part2/78 Ярославская область 1-12.2016.json
Data/FullData/RawData/2016_part2/79 Республика Адыгея 1-12.2016.json
Data/FullData/RawData/2016_part2/8 Хабаровский край 1-12.2016.json
Data/FullData/RawData/2016_part2/80 Республика Башкортостан 1-12.2016.json
Data/FullData/RawData/2016_part2/81 Республика Бурятия 1-12.2016.json
Data/FullData/RawData/2016_part2/82 Республика Дагестан 1-12.2016.json
Data/FullData/RawData/2016_part2/83 Кабардино-Балкарская Республика 1-12.2016.json
Data/FullData/RawData/2016_part2/84 Республика Алтай 1-12.2016.json
Data/FullData/RawData/2016_part2/85 Республика Калмыкия 1-12.2016.json
Data/FullData/RawData/2016_part2/86 Республика Карелия 1-12.2016.json
Data/FullData/RawData/2016_part2/87 Республика Коми 1-12.2016.json
Data/FullData/RawData/2016_part2/88 Республика Марий Эл 1-12.2016.json
Data/FullData/RawData/2016_part2/89 Республика Мордовия 1-12.2016.json
Data/FullData/RawData/2016_part2/90 Республика Северная Осетия - Алания 1-12.2016.json
Data/FullData/RawData/2016_part2/91 Карачаево-Черкесская Республика 1-12.2016.json
Data/FullData/RawData/2016_part2/92 Республика Татарстан 1-12.2016.json
Data/FullData/RawData/2016_part2/93 Республика Тыва 1-12.2016.json
Data/FullData/RawData/2016_part2/94 Удмуртская Республика 1-12.2016.json
Data/FullData/RawData/2016_part2/95 Республика Хакасия 1-12.2016.json
Data/FullData/RawData/2016_part2/96 Чеченская Республика 1-12.2016.json
Data/FullData/RawData/2016_part2/97 Чувашская Республика 1-12.2016.json
Data/FullData/RawData/2016_part2/98 Республика Саха (Якутия) 1-12.2016.json
Data/FullData/RawData/2016_part2/99 Еврейская автономная область 1-12.2016.json
Data/FullData/RawData/2016_part2/parselog.log
Data/FullData/RawData/2017_part1/1 Алтайский край 1-12.2017.json
Data/FullData/RawData/2017_part1/10 Амурская область 1-12.2017.json
Data/FullData/RawData/2017_part1/10011 Ненецкий АО 1-12.2017.json
Data/FullData/RawData/2017_part1/11 Архангельская область 1-12.2017.json
Data/FullData/RawData/2017_part1/12 Астраханская область 1-12.2017.json
Data/FullData/RawData/2017_part1/14 Белгородская область 1-12.2017.json
Data/FullData/RawData/2017_part1/15 Брянская область 1-12.2017.json
Data/FullData/RawData/2017_part1/17 Владимирская область 1-12.2017.json
Data/FullData/RawData/2017_part1/18 Волгоградская область 1-12.2017.json
Data/FullData/RawData/2017_part1/19 Вологодская область 1-12.2017.json
Data/FullData/RawData/2017_part1/20 Воронежская область 1-12.2017.json
Data/FullData/RawData/2017_part1/22 Нижегородская область 1-12.2017.json
Data/FullData/RawData/2017_part1/24 Ивановская область 1-12.2017.json
Data/FullData/RawData/2017_part1/25 Иркутская область 1-12.2017.json
Data/FullData/RawData/2017_part1/26 Республика Ингушетия 1-12.2017.json
Data/FullData/RawData/2017_part1/27 Калининградская область 1-12.2017.json
Data/FullData/RawData/2017_part1/28 Тверская область 1-12.2017.json
Data/FullData/RawData/2017_part1/29 Калужская область 1-12.2017.json
Data/FullData/RawData/2017_part1/3 Краснодарский край 1-12.2017.json
Data/FullData/RawData/2017_part1/30 Камчатский край 1-12.2017.json
Data/FullData/RawData/2017_part1/32 Кемеровская область 1-12.2017.json
Data/FullData/RawData/2017_part1/33 Кировская область 1-12.2017.json
Data/FullData/RawData/2017_part1/34 Костромская область 1-12.2017.json
Data/FullData/RawData/2017_part1/35 Республика Крым 1-12.2017.json
Data/FullData/RawData/2017_part1/36 Самарская область 1-12.2017.json
Data/FullData/RawData/2017_part1/37 Курганская область 1-12.2017.json
Data/FullData/RawData/2017_part1/38 Курская область 1-12.2017.json
Data/FullData/RawData/2017_part1/4 Красноярский край 1-12.2017.json
Data/FullData/RawData/2017_part1/40 г. Санкт-Петербург 1-12.2017.json
Data/FullData/RawData/2017_part1/41 Ленинградская область 1-12.2017.json
Data/FullData/RawData/2017_part1/42 Липецкая область 1-12.2017.json
Data/FullData/RawData/2017_part1/44 Магаданская область 1-12.2017.json
Data/FullData/RawData/2017_part1/45 г. Москва 1-12.2017.json
Data/FullData/RawData/2017_part1/46 Московская область 1-12.2017.json
Data/FullData/RawData/2017_part1/47 Мурманская область 1-12.2017.json
Data/FullData/RawData/2017_part1/49 Новгородская область 1-12.2017.json
Data/FullData/RawData/2017_part1/5 Приморский край 1-12.2017.json
Data/FullData/RawData/2017_part1/50 Новосибирская область 1-12.2017.json
Data/FullData/RawData/2017_part2/52 Омская область 1-12.2017.json
Data/FullData/RawData/2017_part2/53 Оренбургская область 1-12.2017.json
Data/FullData/RawData/2017_part2/54 Орловская область 1-12.2017.json
Data/FullData/RawData/2017_part2/56 Пензенская область 1-12.2017.json
Data/FullData/RawData/2017_part2/57 Пермский край 1-12.2017.json
Data/FullData/RawData/2017_part2/58 Псковская область 1-12.2017.json
Data/FullData/RawData/2017_part2/60 Ростовская область 1-12.2017.json
Data/FullData/RawData/2017_part2/61 Рязанская область 1-12.2017.json
Data/FullData/RawData/2017_part2/63 Саратовская область 1-12.2017.json
Data/FullData/RawData/2017_part2/64 Сахалинская область 1-12.2017.json
Data/FullData/RawData/2017_part2/65 Свердловская область 1-12.2017.json
Data/FullData/RawData/2017_part2/66 Смоленская область 1-12.2017.json
Data/FullData/RawData/2017_part2/67 г. Севастополь 1-12.2017.json
Data/FullData/RawData/2017_part2/68 Тамбовская область 1-12.2017.json
Data/FullData/RawData/2017_part2/69 Томская область 1-12.2017.json
Data/FullData/RawData/2017_part2/7 Ставропольский край 1-12.2017.json
Data/FullData/RawData/2017_part2/70 Тульская область 1-12.2017.json
Data/FullData/RawData/2017_part2/71 Тюменская область 1-12.2017.json
Data/FullData/RawData/2017_part2/71100 Ханты-Мансийский АО 1-12.2017.json
Data/FullData/RawData/2017_part2/71140 Ямало-Ненецкий АО 1-12.2017.json
Data/FullData/RawData/2017_part2/73 Ульяновская область 1-12.2017.json
Data/FullData/RawData/2017_part2/75 Челябинская область 1-12.2017.json
Data/FullData/RawData/2017_part2/76 Забайкальский край 1-12.2017.json
Data/FullData/RawData/2017_part2/77 Чукотский автономный округ 1-12.2017.json
Data/FullData/RawData/2017_part2/78 Ярославская область 1-12.2017.json
Data/FullData/RawData/2017_part2/79 Республика Адыгея 1-12.2017.json
Data/FullData/RawData/2017_part2/8 Хабаровский край 1-12.2017.json
Data/FullData/RawData/2017_part2/80 Республика Башкортостан 1-12.2017.json
Data/FullData/RawData/2017_part2/81 Республика Бурятия 1-12.2017.json
Data/FullData/RawData/2017_part2/82 Республика Дагестан 1-12.2017.json
Data/FullData/RawData/2017_part2/83 Кабардино-Балкарская Республика 1-12.2017.json
Data/FullData/RawData/2017_part2/84 Республика Алтай 1-12.2017.json
Data/FullData/RawData/2017_part2/85 Республика Калмыкия 1-12.2017.json
Data/FullData/RawData/2017_part2/86 Республика Карелия 1-12.2017.json
Data/FullData/RawData/2017_part2/87 Республика Коми 1-12.2017.json
Data/FullData/RawData/2017_part2/88 Республика Марий Эл 1-12.2017.json
Data/FullData/RawData/2017_part2/89 Республика Мордовия 1-12.2017.json
Data/FullData/RawData/2017_part2/90 Республика Северная Осетия - Алания 1-12.2017.json
Data/FullData/RawData/2017_part2/91 Карачаево-Черкесская Республика 1-12.2017.json
Data/FullData/RawData/2017_part2/92 Республика Татарстан 1-12.2017.json
Data/FullData/RawData/2017_part2/93 Республика Тыва 1-12.2017.json
Data/FullData/RawData/2017_part2/94 Удмуртская Республика 1-12.2017.json
Data/FullData/RawData/2017_part2/95 Республика Хакасия 1-12.2017.json
Data/FullData/RawData/2017_part2/96 Чеченская Республика 1-12.2017.json
Data/FullData/RawData/2017_part2/97 Чувашская Республика 1-12.2017.json
Data/FullData/RawData/2017_part2/98 Республика Саха (Якутия) 1-12.2017.json
Data/FullData/RawData/2017_part2/99 Еврейская автономная область 1-12.2017.json
Data/FullData/RawData/2017_part2/parselog.log
Data/FullData/RawData/2018/1 Алтайский край 1-4.2018.json
Data/FullData/RawData/2018/10 Амурская область 1-4.2018.json
Data/FullData/RawData/2018/10011 Ненецкий АО 1-4.2018.json
Data/FullData/RawData/2018/11 Архангельская область 1-4.2018.json
Data/FullData/RawData/2018/12 Астраханская область 1-4.2018.json
Data/FullData/RawData/2018/14 Белгородская область 1-4.2018.json
Data/FullData/RawData/2018/15 Брянская область 1-4.2018.json
Data/FullData/RawData/2018/17 Владимирская область 1-4.2018.json
Data/FullData/RawData/2018/18 Волгоградская область 1-4.2018.json
Data/FullData/RawData/2018/19 Вологодская область 1-4.2018.json
Data/FullData/RawData/2018/20 Воронежская область 1-4.2018.json
Data/FullData/RawData/2018/22 Нижегородская область 1-4.2018.json
Data/FullData/RawData/2018/24 Ивановская область 1-4.2018.json
Data/FullData/RawData/2018/25 Иркутская область 1-4.2018.json
Data/FullData/RawData/2018/26 Республика Ингушетия 1-4.2018.json
Data/FullData/RawData/2018/27 Калининградская область 1-4.2018.json
Data/FullData/RawData/2018/28 Тверская область 1-4.2018.json
Data/FullData/RawData/2018/29 Калужская область 1-4.2018.json
Data/FullData/RawData/2018/3 Краснодарский край 1-4.2018.json
Data/FullData/RawData/2018/30 Камчатский край 1-4.2018.json
Data/FullData/RawData/2018/32 Кемеровская область 1-4.2018.json
Data/FullData/RawData/2018/33 Кировская область 1-4.2018.json
Data/FullData/RawData/2018/34 Костромская область 1-4.2018.json
Data/FullData/RawData/2018/35 Республика Крым 1-4.2018.json
Data/FullData/RawData/2018/36 Самарская область 1-4.2018.json
Data/FullData/RawData/2018/37 Курганская область 1-4.2018.json
Data/FullData/RawData/2018/38 Курская область 1-4.2018.json
Data/FullData/RawData/2018/4 Красноярский край 1-4.2018.json
Data/FullData/RawData/2018/40 г. Санкт-Петербург 1-4.2018.json
Data/FullData/RawData/2018/41 Ленинградская область 1-4.2018.json
Data/FullData/RawData/2018/42 Липецкая область 1-4.2018.json
Data/FullData/RawData/2018/44 Магаданская область 1-4.2018.json
Data/FullData/RawData/2018/45 г. Москва 1-4.2018.json
Data/FullData/RawData/2018/46 Московская область 1-4.2018.json
Data/FullData/RawData/2018/47 Мурманская область 1-4.2018.json
Data/FullData/RawData/2018/49 Новгородская область 1-4.2018.json
Data/FullData/RawData/2018/5 Приморский край 1-4.2018.json
Data/FullData/RawData/2018/50 Новосибирская область 1-4.2018.json
Data/FullData/RawData/2018/52 Омская область 1-4.2018.json
Data/FullData/RawData/2018/53 Оренбургская область 1-4.2018.json
Data/FullData/RawData/2018/54 Орловская область 1-4.2018.json
Data/FullData/RawData/2018/56 Пензенская область 1-4.2018.json
Data/FullData/RawData/2018/57 Пермский край 1-4.2018.json
Data/FullData/RawData/2018/58 Псковская область 1-4.2018.json
Data/FullData/RawData/2018/60 Ростовская область 1-4.2018.json
Data/FullData/RawData/2018/61 Рязанская область 1-4.2018.json
Data/FullData/RawData/2018/63 Саратовская область 1-4.2018.json
Data/FullData/RawData/2018/64 Сахалинская область 1-4.2018.json
Data/FullData/RawData/2018/65 Свердловская область 1-4.2018.json
Data/FullData/RawData/2018/66 Смоленская область 1-4.2018.json
Data/FullData/RawData/2018/67 г. Севастополь 1-4.2018.json
Data/FullData/RawData/2018/68 Тамбовская область 1-4.2018.json
Data/FullData/RawData/2018/69 Томская область 1-4.2018.json
Data/FullData/RawData/2018/7 Ставропольский край 1-4.2018.json
Data/FullData/RawData/2018/70 Тульская область 1-4.2018.json
Data/FullData/RawData/2018/71 Тюменская область 1-4.2018.json
Data/FullData/RawData/2018/71100 Ханты-Мансийский АО 1-4.2018.json
Data/FullData/RawData/2018/71140 Ямало-Ненецкий АО 1-4.2018.json
Data/FullData/RawData/2018/73 Ульяновская область 1-4.2018.json
Data/FullData/RawData/2018/75 Челябинская область 1-4.2018.json
Data/FullData/RawData/2018/76 Забайкальский край 1-4.2018.json
Data/FullData/RawData/2018/77 Чукотский автономный округ 1-4.2018.json
Data/FullData/RawData/2018/78 Ярославская область 1-4.2018.json
Data/FullData/RawData/2018/79 Республика Адыгея 1-4.2018.json
Data/FullData/RawData/2018/8 Хабаровский край 1-4.2018.json
Data/FullData/RawData/2018/80 Республика Башкортостан 1-4.2018.json
Data/FullData/RawData/2018/81 Республика Бурятия 1-4.2018.json
Data/FullData/RawData/2018/82 Республика Дагестан 1-4.2018.json
Data/FullData/RawData/2018/83 Кабардино-Балкарская Республика 1-4.2018.json
Data/FullData/RawData/2018/84 Республика Алтай 1-4.2018.json
Data/FullData/RawData/2018/85 Республика Калмыкия 1-4.2018.json
Data/FullData/RawData/2018/86 Республика Карелия 1-4.2018.json
Data/FullData/RawData/2018/87 Республика Коми 1-4.2018.json
Data/FullData/RawData/2018/88 Республика Марий Эл 1-4.2018.json
Data/FullData/RawData/2018/89 Республика Мордовия 1-4.2018.json
Data/FullData/RawData/2018/90 Республика Северная Осетия - Алания 1-4.2018.json
Data/FullData/RawData/2018/91 Карачаево-Черкесская Республика 1-4.2018.json
Data/FullData/RawData/2018/92 Республика Татарстан 1-4.2018.json
Data/FullData/RawData/2018/93 Республика Тыва 1-4.2018.json
Data/FullData/RawData/2018/94 Удмуртская Республика 1-4.2018.json
Data/FullData/RawData/2018/95 Республика Хакасия 1-4.2018.json
Data/FullData/RawData/2018/96 Чеченская Республика 1-4.2018.json
Data/FullData/RawData/2018/97 Чувашская Республика 1-4.2018.json
Data/FullData/RawData/2018/98 Республика Саха (Якутия) 1-4.2018.json
Data/FullData/RawData/2018/99 Еврейская автономная область 1-4.2018.json
Data/FullData/RawData/2018/parselog.log
*.json
